$primary-color: #5468ff;
$sidebar-width: 375px;
$warning-color: #ffba52;
$light-color: #f5f5fa;
$second-text-color: #848ab8;
$text-color: #21243d;

.document-layout {
  display: flex;
  h1,
  h2,
  h3,
  p,
  a,
  li,
  span {
    color: #21243d;
    font-family: 'Open Sans', sans-serif;
  }

  pre *,
  code * {
    font-family: Menlo, Courier, monospace;
  }

  h1 {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 48px;
  }

  h2 {
    margin-top: 88px;
    font-weight: 600;
    line-height: 32px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
    font-weight: 600;
  }

  strong {
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.active {
    .document-sidebar {
      left: 0;
      width: 100%;
    }
  }
}

.document-sidebar-title-wrappper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 90px;
  > button {
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 35px;
    font-weight: 600;
    color: $primary-color;
    display: flex;
    align-items: center;
    > span {
      font-size: 14px;
      color: $primary-color;
    }
  }
}

.document-sidebar {
  min-width: $sidebar-width;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(90deg, #f5f5fa 80%, #ebebf0);
  left: -200%;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  transition: left 0.5s;
  z-index: 10000;
  .document-title {
    font-size: 24px;
    color: $primary-color;
    font-weight: 600;
    display: block;
  }
  .document-subtitle {
    color: $second-text-color;
    display: block;
    font-size: 19px;
    margin-top: 10px;
  }

  ul {
    list-style: none;
  }

  > ul {
    li > .no-icon-link {
      padding-left: 31px;
    }
  }

  .menu-second-level {
    .no-icon-link {
      padding-left: 0;
    }
  }

  .menu-second-level {
    padding: 0 30px;
  }

  ul.menu-items {
    margin: 0;
    padding: 0;
    font-size: 14px;

    li {
      color: $text-color;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 13px;
      .icon {
        font-size: 18px;
        font-weight: 600px;
        margin-right: 10px;
        display: inline-block;
        width: 20px;
        text-align: center;
        position: relative;
        top: 2px;
      }
      a {
        color: $text-color;
        text-decoration: none;
      }
    }

    ul.menu-second-level {
      li {
        a {
          color: $second-text-color;
        }
      }
    }
    ul {
      li {
        a.menu-item-active {
          color: $primary-color;
        }
      }
    }

    a.menu-item-active {
      color: $primary-color;
    }
    .document-sub-menu {
      margin-left: 40px;
    }
  }
}

.document-content-wrapper {
  margin-left: 0;
  width: 100%;
  transition: margin-left 0.5s;
  .document-content {
    overflow-x: scroll;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 24px;
    padding-top: 30px;
    width: 100%;
    transition: all 0.5s;
    .token.string {
      color: red !important;
    }

    ul {
      list-style: none;
      margin-left: 16px;
      padding: 0 0 0 16px;
      margin-top: 8px;
      li {
        line-height: 24px;
        font-size: 14px;
        margin-top: 4px;
      }
      li:before {
        content: '\2022';
        text-indent: -16px;
        display: inline-block;
        color: #c5c9e0;
        float: left;
      }
    }
  }

  .document-warning {
    background-color: $warning-color;
    border-radius: 3px;
    padding: 1px 15px;
  }
}
body {
  margin: 0;
}

.document-code-snippet {
  background-color: #f5f5fa;
  padding: 24px;
  border-radius: 4px;
  color: #21243d;
  font-size: 12px;
  border-radius: 4px;
  line-height: 24px;
  font-family: Menlo, Courier, monospace;
  overflow-x: auto;

  .document-pre-line-number {
    margin-right: 10px;
  }
}

.document-widget-render {
  padding: 600px 20px 20px 20px;
  border: 4px dotted $light-color;
  position: relative;
}

.header-navbar-wrapper {
  padding: 10px 16px;
  border-bottom: 1px solid rgba(93, 100, 148, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  .header-search {
    margin-left: 15px;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    max-width: 448px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(93, 100, 148, 0.1);
    display: flex;
    align-items: center;
    .icon {
      float: left;
      margin-right: 16px;
    }
    input {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-top: 2px;
      font-size: 17px;
      height: 48px;
      background-color: transparent;
      width: 100%;
      box-shadow: none;
      border: 0;
      outline: 0;
    }
  }
}

.menu-ham {
  cursor: pointer;
  display: flex;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  .icon-menu {
    font-size: 35px;
    padding: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .document-content-wrapper {
    .document-content {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      h1 {
        margin-bottom: 15px;
        line-height: 34px;
        font-size: 22px;
      }
      h2 {
        margin-top: 30px;
        line-height: 34px;
        font-size: 19px;
      }
      .document-code-snippet {
        padding: 10px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .document-content-wrapper {
    width: calc(100% - 375px);
    margin-left: $sidebar-width;
    .document-content {
      padding-left: 56px;
      padding-right: 56px;
      padding-top: 48px;
    }
  }
  .document-sidebar {
    left: 0;
  }

  .document-sidebar-title-wrappper {
    > button {
      display: none;
    }
  }

  .menu-ham {
    display: none;
  }
  .header-search {
    max-width: 100% !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.docs-image-view {
  text-align: center;
  margin: 30px 0;
  overflow-x: scroll;
  img {
    max-width: 800px;
    border: 1px solid silver;
  }

  &.medium {
    img {
      max-width: 500px;
    }
  }

  &.small {
    img {
      max-width: 300px;
    }
  }
}
