@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g2guo4');
  src:  url('../fonts/icomoon.eot?g2guo4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g2guo4') format('truetype'),
    url('../fonts/icomoon.woff?g2guo4') format('woff'),
    url('../fonts/icomoon.svg?g2guo4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e913";
}
.icon-alert-triangle:before {
  content: "\e900";
}
.icon-at-sign:before {
  content: "\e901";
}
.icon-award:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e914";
}
.icon-credit-card:before {
  content: "\e909";
}
.icon-dollar-sign:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-map-pin:before {
  content: "\e90e";
}
.icon-map:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-settings:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-ticket:before {
  content: "\e939";
}
