@import url('https://fonts.googleapis.com/css?family=Oxygen|Roboto&display=swap');
@import './react-datepicker.scss';
@import './icon.scss';
@import './document.scss';

$mainColor: #367fda;
$mainForeColor: #ffffff;

* {
  box-sizing: border-box;
}
body {
  font-family: 'Oxygen', sans-serif;
}

.text-center {
  text-align: center;
}

.campagin-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
  padding: 0 10px 35px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.appointments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .appointment {
    display: flex;
    flex: 1;
    min-width: 270px;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards;
    cursor: pointer;
    margin: 7px;
    background: #fff;
    position: relative;
    overflow: hidden;
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.1 * $i}s;
      }
    }

    > div {
      text-align: center;
      transition: all 0.4s;
    }

    .appointment-time {
      width: 100%;
      padding: 15px;
      border: 1px solid $mainColor;
      border-radius: 5px;
    }
    .appointment-confirm {
      padding-left: 6px;
      position: absolute;
      right: -100%;
      height: 100%;
      button {
        background-color: $mainColor;
        color: $mainForeColor;
        padding: 15px;
        border-radius: 5px;
        border: 0px;
        font-size: 17px;
        width: 100%;
        height: 100%;
        outline: 0;
        cursor: pointer;
        &:hover {
          background-color: lighten($mainColor, 3%);
        }
      }
    }

    &.selected {
      cursor: default;
      .appointment-time {
        border-color: transparent;
        background: #888;
        color: #fff !important;
        padding: 15px 5px;
        border-radius: 5px;
        width: 50%;
        > span {
          color: #fff !important;
        }
      }
      .appointment-confirm {
        right: 0;
        width: 50%;
      }
    }
  }
}

.navigation-path {
  box-shadow: 0px 5px 17px 4px #eee;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 50px;
  ul {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    height: 55px;
    li {
      list-style: none;
      flex: 1;
      border-right: 1px solid #ddd;
      display: flex;
      text-align: center;
      position: absolute;
      width: 100%;
      align-items: center;
      justify-content: center;
      background: #fff;
      > a {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 15px;
        width: 100%;
      }
      &:last-child {
        border-right: 0px;
      }
      &.active {
        border-bottom: 3px solid $mainColor;
        z-index: 1000;
      }
      &:before {
        content: '';
        display: none;
      }
      .icon {
        margin-right: 10px;
        font-size: 16px;
      }
      span {
        white-space: pre-wrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        font-size: 15px;
        padding: 15px;
        width: 100%;
        &.active {
          background-color: #fafafa;
          display: block;
          padding: 15px;
          width: 100%;
          color: $mainColor;
        }
        .back-btn {
          text-decoration: none;
          background: #eff6ff;
          color: #060606;
          padding: 5px 7px 1px 5px;
          border-radius: 5px;
          float: left;
          text-align: center;
          position: absolute;
          left: 15px;
          top: 10px;
          i {
            margin: 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-content-spece {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }
}

.form-container {
  margin-top: 30px;
  padding: 10px;
  [class^='flex'] {
    padding: 0 10px;
    min-width: 200px;
  }
  .button-wrapper {
    margin-top: 20px;
    > .btn {
      margin-right: 10px;
    }
  }
}
.booking-widget-input-group {
  margin: 10px 0;
  .booking-widget-input-title {
    color: #999;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    font-size: 14px;
    > .icon {
      margin-right: 5px;
    }
  }
  .booking-widget-input {
    border: 2px solid #eaeaea;
    border-radius: 4px;
    padding: 10px;
    outline: 0;
    width: 100%;
    font-size: 15px;
    transition: border 0.2s;
    &:focus {
      border-color: $mainColor;
    }
  }
  &.warning {
    .booking-widget-input-title {
      color: #f59292;
    }
    .booking-widget-input {
      border-color: #f59292;
    }
  }
  > span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #f59292;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.react-datepicker {
  width: 100%;
  .react-datepicker__month-container {
    width: 100%;
    .react-datepicker__week {
      display: flex;
      .react-datepicker__day {
        flex: 1;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding: 5px;
        height: 38px;
        &.react-datepicker__day--selected {
          color: $mainForeColor !important;
          background: $mainColor;
          border-color: $mainColor;
        }
        &:not(.react-datepicker__day--disabled) {
          color: $mainColor;
          border-color: $mainColor;
        }
      }
    }
    .react-datepicker__day-names {
      display: flex;
      .react-datepicker__day-name {
        flex: 1;
        padding: 5px;
        height: 38px;
      }
    }
  }
}

.fade-enter {
  position: absolute;
  left: 10px;
  right: 10px;
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250s ease-in;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.btn {
  background: transparent;
  border: 0px;
  box-shadow: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  &.btn-primary {
    background-color: $mainColor;
    color: $mainForeColor;
    &:hover {
      background-color: lighten($mainColor, 3%);
    }
  }
  &.btn-default {
    background-color: #888;
    color: #fff;
    &:hover {
      background-color: lighten(#888, 3%);
    }
  }
}

.alert {
  display: flex;
  padding: 0px 15px;
  margin: 10px 0;
  border-radius: 3px;
  align-items: center;
  font-size: 15px;
  > .icon {
    font-size: 25px;
    margin-right: 10px;
  }
  &.alert-warning {
    background-color: #ff7043;
    color: #fff;
  }
  &.alert-success {
    background-color: #8bc34a;
    color: #fff;
  }
}

.final-status-wrapper {
  text-align: center;
  &.successed {
    .icon-wrapper {
      border: 2px solid green;
      color: green;
      .icon:before {
        content: '\e904';
        font-style: normal;
      }
    }
    .final-box-wrapper {
      color: green;
    }
  }
  &.failed {
    .icon-wrapper {
      border: 2px solid red;
      color: red;
      .icon:before {
        content: '\e913';
        font-style: normal;
      }
    }
    .final-box-wrapper {
      color: red;
    }
  }
  .icon-wrapper {
    display: inline-block;
    border-radius: 100%;
    padding: 5px;
    font-size: 45px;
  }
  .final-box-wrapper {
    padding: 15px;
    border-radius: 5px;
  }
  .final-status-code-box {
    img {
      display: inline-block;
      width: 150px;
      clear: both;
    }
    .reservation-code {
      background: green;
      color: #fff;
      border-radius: 5px;
      padding: 10px 15px;
      display: inline-block;
    }
  }
}

.selected-appointment-information {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 25px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  > div {
    flex: 1;
    padding: 7px 15px;
    min-width: 300px;
    .icon {
      font-size: 20px;
      margin-right: 10px;
      color: $mainColor;
    }
    .selected-appointment-information-title {
      color: $mainColor;
    }
    .selected-appointment-information-value {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.spinner-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #444;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
  }
  > p {
    font-size: 24px;
    font-weight: bold;
    color: #666;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
